body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--app-font-stack);
}

.max-width-wrapper {
  max-width: 1500px;
  margin: 0 auto;  
  padding: var(--space-xs) var(--space-m);
  display: flex;
  height: 100%;
}

.main__wrapper {
  flex: 1;
}

aside, main {
  margin-top: calc(var(--space-xs) * -1);
  margin-bottom: calc(var(--space-xs) * -1);
}



main {
  flex: 1;
  padding: var(--space-m) var(--space-xl);
}




