.task__container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;

  & > .task__wrapper {

    & .task__item {
      display: flex;
      flex-direction: column;
      height: 4rem;
      
      /* padding: 20px 10px 0 10px; */

      & .task__item--details {
        display: flex;
        justify-content: space-between;
        gap: var(--space-m);
        font-size: var(--font-size-s);

        padding: 20px;
        border-bottom: 0.75px solid var(--border-light);
          
        & > span {
          margin-right: auto; 
          border-radius: 1rem;
          border: 1px solid var(--border-dark);
          padding: 0 12px;
          background-color: var(--bg-color-secondary);
          font-size: var(--font-size-xs);
          align-content: center;
        }

        & > .task__action--controller {
          display: flex;
          gap: var(--space-m);
        
          & > button {
            /* todo: change to icon */
          }
        }
      }      
    }
  }
}
    